
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';



.room-class-room1 .fc-content::before {
    content: "|";
    color: #F44336;
    font-weight: 999;
  }
.room-class-room2 .fc-content::before {
    content: "|";
    color: #2196F3;
    font-weight: 999;
  }
.room-class-room3 .fc-content::before {
    content: "|";
    color: #9E9E9E;
    font-weight: 999;
  }

.fc-day-grid-event {
  pointer-events: none;
}

.fc-day-header {
  background-color: #9E9E9E !important;
  color: #F5F5F5 !important;
}
