@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.accept-rules-btn {
  background-color: whitesmoke !important;
  font-weight: bold !important;
  margin-left: 50px !important;  
}
.accept-rules-btn:hover {
  background-color: #BDBDBD !important;
}

.room-class-room1 {
    content: "|";
    background-color: #F44336;
  }
.room-class-room2 {
    content: "|";
    background-color: #2196F3;
  }
.room-class-room3 {
    content: "|";
    background-color: #9E9E9E;
  }

.fc-day-grid-event {
  pointer-events: none;
}

.fc-day-header {
  background-color:#616161 !important;
  color: #F5F5F5 !important;
}

.fc-day-top {
  color: black !important;
}

.fc-body {
  td:hover {
    cursor: pointer;
  }
}

.fc-view-container {
  background-color: #F5F5F5 !important;
}


.fc-title {
 color: black !important;
 font-weight: 600 !important;
}

.fc-today {
  background: cornsilk !important;
} 

span.fc-time {
  white-space: normal;
}