.rc-time-picker-panel {
    z-index: 1301 !important;
}

.fc-time {
    font-weight: bold;
}

#calendar-scheduler .rc-time-picker-input[disabled], #calendar-scheduler .MuiInputBase-root.Mui-disabled {
    color:black;
}