
.fc-time span {
    font-weight: bold;
    font-size: medium;
}

.fc-event-container a {
    cursor: pointer;
}

.fc-event-container .blue-room:hover {
    background-color: #1976D2 !important;
}
.fc-event-container .red-room:hover {
    background-color: #D32F2F !important;
}
.fc-event-container .gray-room:hover {
    background-color: #757575 !important;
}


.fc-head {
    background-color:#616161 !important;
    color: #F5F5F5 !important;
}
  
.fc-body {
  background-color: #F5F5F5 !important;
}

.reservation-alert-message {
    color: red;
    font-weight: bold;
}