
.lang-selector-item img, .MuiSelect-select img {
    width: 20px;
    height: 100%;
    margin-right: 5px;
  }
  .MuiSelect-select .lang-selector-language-name {
    display: none;
  }
  .lang-selector-item .lang-selector-language-name {
    margin-bottom: 0;
  }
.language-selector svg {
  color: whitesmoke;
}