a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
.nav-item-action-button span {
  font-size: large;
}
@media (min-width: 800px) {
  html {
    font-size: 16px;
  }
  .MuiMenu-paper > ul {
    display: block !important;
  }
  .nav-item-action-button span {
    font-size: x-large;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.MuiMenu-paper {
  transform: translate3d(-25px, 25px, 0px) !important;
}


@media (max-width: 800px) {
  .MuiMenu-paper > ul {
    display: inline !important;
  }
}


.logoImg {
  display: block;
  max-height: 42px;
  width: auto;
  height: auto;
}

.navbar-main {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
}


.navbar-main nav {
  width: 100%;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.menu-phone div p {
  padding-top: 10px;
  width: max-content;
}

.menu-phone {
  white-space: nowrap;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .menu-phone {
    display: none !important;
  }
}

@media (max-width: 750px) {
  .menu-facebook {
    display: none !important;
  }
}

@media (max-width: 720px) {
  .header-logo {
    display: none;
  }
}

@media (max-width: 576px) {
  .menu-facebook {
    display: flex !important;
  }
  .header-logo {
    display: unset;
  }
}

.content-container {
  padding-top: 80px;
  padding-bottom: 60px;
}

.navbar-nav-item, .navbar-nav-item a, .navbar-nav-item div{
  padding-left: 5px;
}

.navbar-nav-item-flex, .navbar-nav-item a, .navbar-nav-item div{
  display: flex;
}

.nav-item-language-selector {
  padding-left: 10px;
  display: flex;
}


.nav-item-action-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 45px !important;
  font-size: x-large;
}


html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.navbar-collapse {
  flex-grow: unset !important;
} 

.navbar-actions-collapse .navbar-actions {
  flex-direction: row;
}

.navbar-actions a {
  margin: 0;
}

.navbar-nav-item.navbar-nav-item-flex.nav-item div button:hover,
.nav-item.navbar-nav-item-flex.nav-item div button:hover,
.navbar-nav.flex-grow.navbar-actions a button:hover,
.language-selector:hover,
.navbar-nav-item.navbar-nav-item-flex.nav-item a button:hover{
  background-color: #757575;
} 
.navbar-nav-item.navbar-nav-item-flex.nav-item a.active button span {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
} 
.room-menu-container div ul li a.active{
  text-decoration: underline;
  text-decoration-color: black;
} 
.navbar-nav-item.navbar-nav-item-flex.nav-item div button:focus,
.nav-item.navbar-nav-item-flex.nav-item div button:focus,
.navbar-nav.flex-grow.navbar-actions a button:focus,
.navbar-nav-item.navbar-nav-item-flex.nav-item a button:focus{
  outline: none;
} 
.navbar-nav-item.navbar-nav-item-flex.nav-item a{
  text-decoration: none;
} 
.header-logo {
  cursor: unset;
}