a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  height: 35px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .MuiMenu-paper > ul {
    display: block !important;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.MuiMenu-paper {
  transform: translate3d(-25px, 25px, 0px) !important;
}


@media (max-width: 768px) {
  .MuiMenu-paper > ul {
    display: inline !important;
  }
}


.logoImg {
  display: block;
  max-height: 45px;
  width: auto;
  height: auto;
}

/* 
.MuiButton-label, .menu-phone {
  color: whitesmoke;
}

.navbar-expand-sm.navbar-toggleable-sm {
  background-color: black;
  height: 60px;
} */