.login-dialog-form {
    div {
        background: linear-gradient(to bottom right, #f5f5f5, #FFFFFF);
    }
}

.login-brand-icon {
    margin: 10px;
    font-size: 30px;
}

.login-dialog-actions {
    display: flex;
    flex-direction: column;
}

.login-dialog-actions .container{
    margin: 10px;
}

.login-dialog-actions .container button{
    float: right;
    margin: 10px;
}

.btn-action:hover {
    background-color: #BDBDBD !important;
}

.forgotten-password {
    font-size: small;
}

.remainder-sent-text {
    text-align: right;
    color: #F44336;
}

.Mui-disabled span {
    color: lightgray;
}

.login-dialog-actions {
    h3 {
        display: flex !important;
        width: 100%;
    }
    h3:before, h3:after {
        color: #3f51b5;
        content: '';
        flex: 1;
        border-bottom: groove 2px;
        margin: auto 0.5em;
        box-shadow: 0 0px; /* ou 0 1px si border-style:ridge */
    }
}

.login-header {
    text-align: center;
    h2 {
        font-size: xx-large;
    }
}

.facebook-button {
    background-color: #4267B2 !important;
    width: 100%;
    margin-bottom: 5px !important;
}
.google-button {
    background-color: #DB4437 !important;
    width: 100%;
}