.login-brand-icon {
    margin: 10px;
    font-size: 30px;
}

.login-dialog-actions {
    display: flex;
    flex-direction: column;
}

.login-dialog-actions .container{
    margin: 10px;
}

.login-dialog-actions .container button{
    float: right;
    margin: 10px;
}

.btn-action:hover {
    background-color: #BDBDBD !important;
}

.forgotten-password {
    font-size: small;
}