/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html{
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  display: inline-block;
  vertical-align: top;
  position: sticky;
  background-image: url("./content/background-pattern.jpg");
  color: whitesmoke;
  text-align: justify;
}

body div{
  position: relative;
}

body:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;
  display: block;
  background-color: deepskyblue;
  opacity: 0.45 !important;
}

.content-container.container{
  height: 100%;
}

.form-container {
  padding:15px;
  margin:15px;
  background-color: #fff;
  -webkit-border-radius: 27px;  
}

.form-header-text {
  color: black;
  float: none; 
}