a {
  color: #0366d6;
}

html, body, html * {
  font-family: serif;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html{
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  display: inline-block;
  vertical-align: top;
  background-image: url("./content/background.jpg");
  color: whitesmoke;
  text-align: justify;
}

body div{
  position: relative;
}

.content-container.container{
  height: 100%;
}

.form-container {
  padding:15px;
  margin:15px;
  background-color: #fff;
  -webkit-border-radius: 4px;  
}

.form-header-text {
  color: black;
  float: none; 
}